<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let title of tableTitle">
          {{ title }}
          <span class="sort-block">
            <span class="sort-asc"></span>
            <span class="sort-desc"></span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tabledata of tableData.cookies">
        <td>{{ tabledata.name }}</td>
        <td>{{ tabledata.price }}</td>
        <td>{{ tabledata.category }}</td>
      </tr>
    </tbody>
  </table>
</div>
