<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let title of tableTitle">
          {{ title }}
          <span class="sort-block">
            <span class="sort-asc"></span>
            <span class="sort-desc"></span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$Product Name</td>
        <td>$Price</td>
        <td>Category</td>
      </tr>
      <tr>
        <td>$Product Name</td>
        <td>$Price</td>
        <td>$Category</td>
      </tr>
      <tr>
        <td>$Product Name</td>
        <td>$Price</td>
        <td>$Category</td>
      </tr>
      <tr>
        <td>$Product Name</td>
        <td>$Price</td>
        <td>$Category</td>
      </tr>
    </tbody>
  </table>
</div>
