.card-wrapper {
  width: 290px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card-wrapper:hover {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.6);
  transform: translateY(3px);
}
.card-wrapper img {
  max-width: 100%;
  height: auto;
}
.card-infobox {
  padding: 20px 0 0 16px;
}
.card-infobox h1 {
  font-size: 15px;
  font-weight: 600;
  color: #0f5ef0;
  margin: 0 0 18px 0;
}
.card-infobox h3 {
  font-size: 12px;
  font-weight: 700;
  color: #7a8594;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.card-infobox p {
  font-size: 12px;
  color: #7a8594;
  padding-bottom: 14px;
  margin: 0;
}
